header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--primary);
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 20;
}

a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
}

nav {
    display: flex;
}